.myBody {
    display: grid;
    height: 100vh;
    background: url("/img/404.png") no-repeat;
    background-position: 500px;
    background-size: contain;
    background-color: beige;
}

.myBody1 {
    display: grid;
    height: 100vh;
    background: url("/img/500.png") no-repeat;
    background-position: left;
    background-size: auto;
    background-color: orange;
}

.myHeader1 {
    text-align: left;
    font-family: Helvetica;
    font-size: 50px;
    margin-top: 170px;
    margin-left: 550px;
}

.myHeader {
    text-align: left;
    font-family: Helvetica;
    font-size: 50px;
    margin-top: 170px;
    margin-left: 160px;
}

.myText {
    text-align: left;
    font-family: Helvetica;
    font-size: 16px;
    margin-bottom: 500px;
    margin-left: 160px;
}

.myText1 {
    text-align: left;
    font-family: Helvetica;
    font-size: 16px;
    margin-bottom: 500px;
    margin-left: 550px;
}

.myButton {
    margin-top: 50px;
    background-color: orange;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
}

.myButton1 {
    margin-top: 50px;
    background-color: darkslategrey;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
    box-shadow: rgba(19, 1, 1, 0.9);
}

